* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%
}

body {
    overflow-x: hidden;
}

nav #navbarNav #Links > li {
    padding: 20px;
    font-size: 1.0rem;
    font-weight: 500;
}

nav #navbarNav #Links li a {
    color: black;
    font-size: 1.0rem;
}

nav #navbarNav #Links li:hover {
    border-bottom: 1px solid black;
    /* transform: scale(1.1); */
}
#footer {
    background-color: #05141f;
}

    #footer ul {
        list-style-type: none;
    }
